make.inc
**/*.x
src/**/Makefile
run_inputs.sh
**/*.o
**/*.o1
**/*.o2
**/*.shh
**/*.bin
**/*.pbin
**/*.text
**/*.log
**/*.af?
**/*.sd?
**/*.cs?
**/*.out
**/*.png
**/*.pdf
html
latex
*.geany
*.chk
sha
sha.h
setenv.sh
src/utils/Quadrule/Lebedev.*
